<!--
<h3>Hello world!</h3><b>Hostname:</b> a32348bef0a1<br/><b>Visits:</b> <i>cannot connect to Redis, counter disabled</i>
-->
<!DOCTYPE html>
<html>
<head>
	<title>MaiTV</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body style="background:rgba(0,0,0,0.1)">

	<h1>Welcome to MaiTV {{ user }} </h1>

	<button id="get-playlist">Get playlist</button>

</body>
</html>