<!--
<h3>Hello world!</h3><b>Hostname:</b> a32348bef0a1<br/><b>Visits:</b> <i>cannot connect to Redis, counter disabled</i>
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>MaiTV</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik" rel="stylesheet">
</head>
<body>

	<div id="logo-section" style="text-align:center;">
		<center>
		<h1 id="maitv-logo-orange">M</h1>
		<h1 id="maitv-logo-red">AI</h1>
		<h1 id="maitv-logo-orange">TV</h1>
		<br>
		<h2 id="maitv-logo-orange"> <i> for {{name}} </i> </h2>
		</center>
	</div>

	
	<div id="active-source">
	
	</div>
	

	<div id="videoplayer-section" style="background: rgba(0,0,0,0); width: 960px; height: 540px; margin: 0 auto; text-align: center;">
		<video id="videoplayer" width="100%"></video>
		<button id="play">PLAY</button>
		<br>
	</div>


	<div id="now-playing">
	
	</div>
	<div id="titles">
		
	</div>



	<script>

    {{ jssnutt | safe }} 
	
	rep_cnt = 0
	
	function rep()
	{
	    var video = document.getElementById('videoplayer');
	    var act_src = document.getElementById('active-source');
		
		rep_cnt += 1

		act_src.innerHTML =
			//" --- current src "   + " --- <B> " + String(video.currentSrc)   + " </B> --- <br>" +
			//" --- src "           + " --- <B> " + String(video.src)          + " </B> --- <br>" +
			" --- current time "  + " --- <B> " + String(video.currentTime)  + " </B> --- <br>" +
			//" --- count "         + " --- <B> " + String(rep_cnt)            + " </B> --- <br>" +
			"";
		
		setTimeout(rep, 250);	
	}
	
	setTimeout(rep, 250);

    $.each(titles, function (index, value) {
    	if (index == 0) {
    		$('#now-playing').append("<h3>" + value +"</h3>");
    	}
    	else {
    		$('#titles').append("<h3>" + value +"</h3>");
    	}
    });

	  if(Hls.isSupported()) {
	    var video = document.getElementById('videoplayer');
	    var hls = new Hls();
	    hls.loadSource('http://localhost:8080/play.m3u8?uid={{uid}}');
	    hls.attachMedia(video);
	    hls.on(Hls.Events.MEDIA_ATTACHED,function() {
	    	console.log("parse ok");
			setTimeout(rep, 250);
	      //video.play();
	  });
	 }
	</script>

</body>
</html>
