<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>738725.63742220448</real>
	<key>iframe_MaxBitRate</key>
	<real>79377.777777777766</real>
	<key>iframe_avgBitRate</key>
	<real>40744.027303754265</real>
	<key>maxBitRate</key>
	<real>988729.59999999998</real>
	<key>videoCodecInfo</key>
	<string>avc1.42001e</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>273</real>
		<key>Width</key>
		<real>640</real>
	</dict>
</dict>
</plist>
