<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>232080.28605482716</real>
	<key>iframe_MaxBitRate</key>
	<real>47376.000000000022</real>
	<key>iframe_avgBitRate</key>
	<real>38962.383790226464</real>
	<key>maxBitRate</key>
	<real>246906.66666666666</real>
	<key>videoCodecInfo</key>
	<string>avc1.42e00c</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>240</real>
		<key>Width</key>
		<real>320</real>
	</dict>
</dict>
</plist>
