<!--
<h3>Hello world!</h3><b>Hostname:</b> a32348bef0a1<br/><b>Visits:</b> <i>cannot connect to Redis, counter disabled</i>
-->
<!DOCTYPE html>
<html>
<head>
	<title>MaiTV</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/index.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

	<h1>MaiTV</h1>

	<div id="videoplayer-section">
		<video src=""></video>
	</div>

</body>
</html>