body {
	background: rgba(0,0,0,0.85);
	text-align: center;
}

h1,h2,h3,h4,h5 {
	font-family: 'Roboto Mono', monospace;
}

p {
	font-family: 'Rubik', sans-serif;
}

#active-source {
	color: #2222ff;
}

#logo-section {
	display: inline;
}
#maitv-logo-orange {
	letter-spacing: 0.5em;
	color: #ff5500;
	display: inline
}
#maitv-logo-red {
	letter-spacing: 0.5em;
	color: #7f1500;
	display: inline
}
#now-playing h3 {
	color: #FFFFFF;
}
#titles h3 {
	color: #cccccc;
}
