<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>750378.96950578329</real>
	<key>iframe_MaxBitRate</key>
	<real>204114.28571428539</real>
	<key>iframe_avgBitRate</key>
	<real>116990.95688748687</real>
	<key>maxBitRate</key>
	<real>831315.42288557219</real>
	<key>videoCodecInfo</key>
	<string>avc1.42001e</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>360</real>
		<key>Width</key>
		<real>640</real>
	</dict>
</dict>
</plist>
