<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>447268.11428571428</real>
	<key>iframe_MaxBitRate</key>
	<real>160426.66666666677</real>
	<key>iframe_avgBitRate</key>
	<real>33474.742857142861</real>
	<key>maxBitRate</key>
	<real>1236664</real>
	<key>videoCodecInfo</key>
	<string>avc1.42e015</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>240</real>
		<key>Width</key>
		<real>428</real>
	</dict>
</dict>
</plist>
